@import url('https://fonts.cdnfonts.com/css/chakra-petch');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;

  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
}

.app-container {
  width: 600px;
  min-height:470px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-top: 80px;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.slogan {
  width: 300px;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
}

.input-outer {
  width: 100%;
  background: rgba(220,220,220,0.85);
  backdrop-filter: blur(6px);
  padding: 15px;
  border-radius: 20px;
}

.input-row {
  display: flex;
  background: white;
  border-radius: 25px;
  padding: 5px 10px;
}

.input-row input {
  flex: 1;
  border: none;
  background: white;
  color:black;
  outline: none;
  padding: 10px;
}

.input-row button {
  background: red;
  border: none;
  color: white;
  border-radius: 25%;
  width: 50px;
  height: 40px;
  cursor: pointer;
  
}

.btn-spinner {
  width: 10px;
  height: 10px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.result-box {
  width: 100%;
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(6px);
  padding: 16px;
  border-radius: 20px;
}

.player {
  width: 100%;
  border-radius: 12px;
  height:300px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.overall-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.emoji {
  width: 80px;
}

.label {
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 15px;
  color: black;
}


.value.Positive {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 30px;
  color: green;
  font-weight: bold;
}

.value.Negative {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 30px;
  color: red;
  font-weight: bold;
}

.value.Neutral {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 30px;
  color: gray;
  font-weight: bold;
}

.breakdown {
  color:black;

}
.bar-group {
  margin-top: 10px;
}

.bar-header {
  display: flex;
  justify-content: space-between;
}

.bar-bg {
  background: #ccc;
  height: 8px;
  border-radius: 10px;
}

.bar-fill {
  height: 100%;
  border-radius: 10px;
}

.bar-fill.Positive { background: green; }
.bar-fill.Negative { background: red; }
.bar-fill.Neutral { background: gray; }

.section-title {
  margin-top: 10px;
  font-weight: bold;
  color: #737171;
}

.summary {
  margin-top: 10px;
  color:black;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-bottom: 5px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
